<div class="form-group w-100">
    <app-custom-accordion>
        <app-custom-accordion-content *ngFor="let content of fullContent; let i = index" [header]="content.header"
            [isopen]="content.open" contentId="{{i}}">
            <div>
                <app-custom-p row="1" col="12" *ngFor="let detail of content.content[0].details" [text]="detail">
                </app-custom-p>
                <app-custom-p row="2" col="12" [text]="content.content[0].footer"></app-custom-p>
            </div>
        </app-custom-accordion-content>
    </app-custom-accordion>
</div>