<div #accordion class="accordion-content row" [class.seleted]="isopen" (click)="toggleOpen()">
  <!-- <ng-content></ng-content> -->
  <slot name="header">
    Default accordion header
    <svg class="chevron" width="17px" height="9.5px" viewBox="0 0 17 10" version="1.1"
      xmlns="http://www.w3.org/2000/svg">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polyline id="Path" stroke="#231F20" stroke-width="2" points="1 1 8.47875354 8.5 15.9575071 1">
        </polyline>
      </g>
    </svg>
  </slot>
</div>
<ng-container *ngIf="isopen" class="accordion-panel">
  <div>
    <slot name="details">Default accordion details</slot>
  </div>
  <div>
    <slot name="footer">Default accordion footer</slot>
  </div>
</ng-container>
<hr />