.accordion-panel{
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
  
    .header{
      cursor: pointer;
      height: 27px !important;
      font-family: sans-serif !important;
      font-size: 20px !important;
  
      &:hover {
          font-family: sans-serif !important;
      }
    }
  
    svg.chevron{
      transition: all 0.5s ease;
    }
  }
  
  .chevron {
    text-align: end;
  }